@import url(https://fonts.googleapis.com/css?family=Roboto);

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: white;
  background-size: cover;
  background-repeat: repeat;
}

nav {
  background: radial-gradient(circle, #2b4b87 0%, #2641c6 100%);
  text-align: center;
  padding: 10px 0;
  display: flex;
  /* Use flexbox for layout */
  justify-content: center;
  /* Center the nav links */
  align-items: center;
  /* Align items vertically */
}

#nav_links {
  display: flex;
  align-items: center;
}

nav a {
  color: white;
  /* White text color */
  text-decoration: none;
  /* No underline on the links */
  margin: 0 15px;
  /* Spacing between links */
  font-size: 16px;
  /* Size of the text */
  transition: color 0.3s;
  /* Smooth transition for hover effect */
}

nav a:hover {
  color: #f39c12;
  /* Orange color on hover */
  text-decoration: underline;
  /* Underline on hover */
}

#content {
  padding: 20px;
  text-align: start;
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
  nav a {
    font-size: 12px;
    /* Reduced font size for navigation links */
    margin: 5 12px;
    /* Reduced margin between links */
  }

  #lang_toggle {
    display: none;
    /* Hide the language toggle button on small screens */
  }
}

#lang_toggle {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 20px;
  /* Optional: Adjust padding for better appearance */
}

#lang_toggle:hover {
  color: #f39c12;
  /* Orange color on hover */
  text-decoration: underline;
  /* Underline on hover */
}